<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Please Fill up to login</title>
</head>
<body>
  
        <div class="info">
            <br><br><br><br><br><br>
            <h1>Log In</h1>
            <br>
            <label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" autocomplete="off" name="name" class="input" placeholder="Username">
            <br><br>
            <div class="email">
                <label for="email"> Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="email" autocomplete="off" name="email" class="input" placeholder="abc@gmail.com">
                <br> <br>
            </div>
            <div class="pass">
                <label for="password">Password:&nbsp;&nbsp;</label>
                <input type="password" autocomplete="off" name="pass" class="input" placeholder=" Type here">
                <br><br>
            </div>
            <br>
            <br><br>
            <button>
                <span class="circle1"></span>
                <span class="circle2"></span>
                <span class="circle3"></span>
                <span class="circle4"></span>
                <span class="circle5"></span>
                <span class="text">Login</span>
            </button>
        </div>
</body>
</html>